//>>>>> Component Button Here <<<<<//
.theme-btn {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    gap: 15px;
    border: none;
    text-align: center;
    background-color: $theme-color;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    padding: 18px 30px;
    overflow: hidden;
    align-items: center;
    border-radius: 8px;

    i {
        margin-left: 5px;
    }

    &::after,&::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: $header-color;
        transition: 1s ease
    }

    &::before {
        top: -2em;
        left: -2em
    }

    &::after {
        left: calc(100% + 2em);
        top: calc(100% + 2em)
    }

    &:hover {
        color: $white;
        box-shadow: none;

        &::after,&::before {
            height: 410px;
            width: 410px
        }
    }

    &.hover-white {
        &::after,&::before {
            background-color: $white;
        }

        &:hover {
            color: $header-color;
        }
    }

    &.pink-btn {
        background-color: $theme-color-3;
        color: $header-color;

        &:hover {
            color: $white;
        }
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}

.link-btn {
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: $header-color;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;

    i {
        margin-left: 5px;
    }

    &:hover {
        color: $theme-color;
    }

    &.white-btn {
        color: $white;

        &:hover {
            color: $theme-color;
        }
    }

    &.color-2 {
        &:hover {
            color: $theme-color-2;
        }
    }

    &.color-3 {
        &:hover {
            color: $theme-color-3;
        }
    }
}

//>>>>> Component Button End <<<<<//