.cta-video-section {
    position: relative;

    &::before {
        @include before;
        background-color: $bg-color;
        height: 50%;
    }
}

.cta-video-wrapper {
    padding: 240px 0;
    border-radius: 10px;

    @include breakpoint (max-xl) {
        padding: 200px 0;
    }

    @include breakpoint (max-lg) {
        padding: 160px 0;
    }

    @include breakpoint (max-md) {
        padding: 130px 0;
    }

    @include breakpoint (max-sm) {
        padding: 100px 0;
    }

    .video-box {
        text-align: center;
        margin: 0 auto;

        .video-buttton {
            width: 110px;
            height: 110px;
            line-height: 110px;
            text-align: center;
            border-radius: 50%;
            background-color: $white;
            color: $theme-color;
            display: inline-block;
            font-size: 24px;

            @include breakpoint (max-xl) {
                width: 90px;
                height: 90px;
                line-height: 90px;
            }

            @include breakpoint (max-md) {
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 18px;
            }

            @include breakpoint (max-sm) {
                width: 70px;
                height: 70px;
                line-height: 70px;
            }
        }

        .ripple {
            &::before,&::after {
                width: 110px;
                height: 110px;
            }
        }

    }
}

.cta-section {
    position: relative;
    z-index: 9;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/cta.svg);
        -webkit-filter: brightness(0) saturate(100%) invert(40%) sepia(75%) saturate(451%) hue-rotate(121deg) brightness(96%) contrast(90%);
        filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(451%) hue-rotate(80deg) brightness(96%) contrast(90%);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .cta-dot {
        position: absolute;
        bottom: 20%;
        left: 5%;
        animation: cir36 10s linear infinite;

        @include breakpoint (max-lg){
            display: none;
        }
    }

    .cta-circle-shape {
        position: absolute;
        top: 20%;
        right: 5%;
        animation: cir36 10s linear infinite;

        @include breakpoint (max-lg){
            display: none;
        }
    }
}

.cta-text {
    position: relative;
    z-index: 9;

    h2 {
        margin-bottom: 40px;

        span {
            color: $theme-color;
        }
    }
}

.cta-video-section-2 {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background-color: $white;
        left: 40%;
        z-index: -1;
        box-shadow: $shadow;
        
        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.cta-video-wrapper-2 {
    .video-items {
        max-width: 700px;
        height: 450px;
        border-radius: 10px;
        position: relative;

        @include breakpoint (max-md){
           height: 360px;
        }

        @include breakpoint (max-sm){
            height: 320px;
        }

        .video-box-2 {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
        
            .video-buttton {
                width: 90px;
                height: 90px;
                line-height: 90px;
                text-align: center;
                border-radius: 50%;
                background-color: $white;
                color: $theme-color-2;
                display: inline-block;
                font-size: 18px;
        
                @include breakpoint (max-xl) {
                    width: 80px;
                    height: 80px;
                    line-height: 90px;
                }
        
                @include breakpoint (max-md) {
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    font-size: 18px;
                }
        
                @include breakpoint (max-sm) {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                }
            }
        
            .ripple {
                &::before,&::after {
                    width: 90px;
                    height: 90px;
                    box-shadow: 0 0 0 0 rgba(233, 93, 102, 0.7);

                    @include breakpoint (max-xl) {
                        width: 80px;
                        height: 80px;
                    }
            
                    @include breakpoint (max-md) {
                        width: 70px;
                        height: 70px;
                    }

                    @include breakpoint (max-sm) {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        
        }
    }
}


.cta-banner-wrapper-2 {
    border-radius: 5px;
    padding: 75px 60px;
    position: relative;
    margin-top: 82px;

    &::before {
        @include before;
        background: linear-gradient(270deg, #E95D66 0%, rgba(233, 93, 110, 0.76) 100%);
        border-radius: 5px;

    }

    @include breakpoint (max-xxl){
        margin-top: 0;
    }

    @include breakpoint (max-md){
       padding: 50px 40px;
    }

    @include breakpoint (max-sm){
        padding: 40px 30px;
    }

    .cta-image {
        position: absolute;
        bottom: 0;
        left: 30px;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .section-title-area {
        margin-left: 350px;

        @include breakpoint (max-xxl){
            margin-left: 0;
        }

        @include breakpoint (max-lg){
           flex-wrap: wrap;
           justify-content: center;
           text-align: center;
           gap: 30px;
        }
    }
}

.cta-banner-section-2 {
    position: relative;

    &::before {
        @include before;
        background-color: $bg-color;
        top: 50%;
    }
}

.cta-newsletter-wrapper {
    padding: 100px 0;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl){
        padding: 80px 0;
    }

    .newsletter-input-items {
        max-width: 640px;
        margin: 0 auto;
        position: relative;

        input {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            border-radius: 10px;
            border: 1px solid $white;
            padding: 22px 25px;
            line-height: 1;
            color: $white;
            padding-left: 60px;

            &::placeholder {
                color: $white;
            }
        }

        .icon {
            position: absolute;
            top: 23px;
            left: 25px;
            color: $white;
            font-size: 20px;
        }

        .theme-btn {
            position: absolute;
            top: 8px;
            right: 10px;
            @include transition;
            background-color: $theme-color-3;
            color: $header-color;

            @include breakpoint (max-sm){
               top: 10px;
            }

            &:hover {
                color: $white
            }
        }
    }

    .list-items {
        @include flex;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
        }

        @include breakpoint (max-md){
           display: grid;
           gap: 15px;
        }

        li {
            color: $white;
            font-size: 16px;
            font-weight: 400;

            i {
                margin-right: 5px;
            }
        }
    }
}

.cta-newsletter-section {
    position: relative;
    z-index: 9;

    .girl-shape {
        position: absolute;
        left: 83px;
        bottom: 0;
        z-index: 99;

        @include breakpoint (max-xl){
           position: relative;
           left: 0;
        }
    }

    .shape-1 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            opacity: .2;
        }
    }

    .shape-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        @include breakpoint (max-xl){
            opacity: .2;
        }
    }
}


.instagram-image {
    position: relative;
    max-width: 384px;
    z-index: 9;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;

    img {
        @include imgw;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(9, 34, 75, 0.50);
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;
        transition: transform 500ms ease, -webkit-transform 500ms ease;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        z-index: 1;
    }

    .icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background-color: $white;
        text-align: center;
        border-radius: 50%;
        color: $header-color;
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 9;

        i {
            transform: rotate(-40deg);
        }

        &:hover {
            background-color: $theme-color-3;
            color: $white;
        }
    }

    &:hover {
        &::before {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            -webkit-transform-origin: top center;
            transform-origin: top center;
        }

        .icon {
            top: 50%;
        }
    }

    &.style-2 {
        border-radius: 10px;

        &::before {
            border-radius: 10px;
            background: rgba(9, 34, 75, 0.50);
        }

        .icon {
            color: $theme-color-3;
            font-size: 24px;
            color: $header-color;
    
            i {
                transform: rotate(0deg);
            }
    
            &:hover {
                background-color: $theme-color-3;
                color: $header-color;
            }
        }
    }
}