.event-box-items {
    margin-top: 30px;
    position: relative;
    z-index: 9;

    .accordion-single {
      overflow: hidden;
        .header-area {
            .accordion-btn {
                padding: 34px 50px;
                background-color: $white;
                border-radius: 7px;
                @include flex;
                justify-content: space-between;

                @include breakpoint (max-xxl){
                    flex-wrap: wrap;
                    gap: 30px;
                }
            }
        }
       
        .content-items {
            @include flex;
            gap: 60px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            .post-date {
                padding: 11px 15px;
                border-radius: 10px;
                border: 1px solid rgba(0, 91, 255, 0.10);
                background: rgba(0, 91, 255, 0.10);
                font-size: 14px;
                font-weight: 500;
                color: $theme-color;
                display: inline-block;
                line-height: 1;
            }

            .content {
                max-width: 385px;
    
                h5 {
                    font-size: 22px;
                    
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }

        .event-image {
            max-width: 300px;
            transition: all 0.6s;
            margin-bottom: -400px;
            opacity: 0;
            visibility: hidden;

            img {
                @include imgw;
                border-radius: 7px;
            }
        }

        .button-list {
            @include flex;
            gap: 50px;

            @include breakpoint (max-xxl){
                flex-wrap: wrap;
                gap: 20px;
            }

            li {
                font-size: 16px;

                i {
                    color: $theme-color;
                    margin-right: 7px;
                }

                .theme-btn {
                    background-color: transparent;
                    color: $header-color;
                    padding: 16px 25px;
                    font-size: 14px;
                    font-weight: 600;
                    border: 1px solid $border-color;

                    &::before,&::after {
                        background-color: $theme-color;
                    }

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        &.active {
            .event-image {
                margin-bottom: 0;
                opacity: 1;
                visibility: visible;
            }

            .content-items {
                display: block;
    
                .post-date {
                  margin-bottom: 25px;
                  display: inline-block;
                }
            }

            .button-list {
                @include flex;
                gap: 65px;

                @include breakpoint (max-xxl){
                    flex-wrap: wrap;
                    gap: 30px;
                }

                .theme-btn {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}

.event-card-items {
    margin-top: 30px;
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 0 0 5px 5px;

    .event-image {
        position: relative;

        img {
            @include imgw;
            border-radius: 5px 5px 0 0;
        }

        .post-time {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: $theme-color;
            border-radius: 4px;
            padding: 4px 10px;
            font-weight: 500;
            font-size: 14px;
            color: $white;
        }

        .post-date {
            width: 80px;
            height: 80px;
            text-align: center;
            border-radius: 50%;
            background-color: $theme-color;
            position: absolute;
            bottom: -35px;
            right: 30px;

            h3 {
                color: $white;
                line-height: initial;
                padding-top: 17px;
            }

            span {
                font-size: 18px;
                color: $white;
                margin-top: -10px;
                display: inline-block;
            }
        }
    }

    .event-content {
        padding: 25px 30px;

        ul {
            margin-bottom: 10px;

            li {
                i {
                    margin-right: 5px;
                    color: $theme-color;
                }
            }
        }

        h3 {
            margin-bottom: 10px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .theme-btn {
            padding: 12px 15px;
            font-size: 14px;
            background: transparent;
            border: 1px solid $border-color;
            color: $text-color;

            &::before,&::after {
                background-color: $theme-color;
            }

            &:hover {
                color: $white;
            }
        }
    }

    &.style-2 {
        .event-image {
            .post-time {
                background-color: $theme-color;
            }
    
            .post-date {
                background-color: $theme-color;
            }
        }
    
        .event-content {
    
            ul {
                li {
                    i {
                        color: $theme-color;
                    }
                }
            }
    
            h3 {
                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.single-event-area {
    margin-right: -42%;

    @include breakpoint (max-xl){
        margin-right: 0;
    }

    .single-event-items {
        @include flex;

        @include breakpoint (max-lg){
            flex-wrap: wrap;

            br {
                display: none;
            }
        }

        .event-img {
            max-width: 300px;
            height: 430px;
            flex-basis: 80%;
            position: relative;

            @include breakpoint (max-lg){
                max-width: 750px;
                flex-basis: 100%;
            }

            @include breakpoint (max-md){
                max-width: 550px;
            }

            @include breakpoint (max-sm){
               height: 350px;
            }

            .post-date {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: $theme-color-3;
                font-size: 16px;
                color: $white;
                padding: 4px 10px;
            }
        }

        .event-content {
            background-color: $white;
            padding: 40px;
            margin-left: -120px;
            position: relative;
            z-index: 9;

            @include breakpoint (max-lg){
               margin-left: 0;
               width: 100%;
            }

            @include breakpoint (max-sm){
               padding: 30px;
            }

            ul {
                margin-bottom: 15px;

                i {
                    color: $theme-color-3;
                    margin-right: 5px;
                }
            }

            h3 {
                margin-bottom: 10px;

                a {
                    &:hover {
                        color: $theme-color-3;
                    }
                }
            }
        }
    }
}

.event-details-wrapper {
    margin-bottom: -10px;
    .details-image {
        img {
            @include imgw;
            border-radius: 10px;
        }
    }

    .details-content {
        margin-top: 30px;

        @include breakpoint (max-sm){
           margin-top: 20px;
        }

        h2 {
            font-weight: 600;
            font-size: 36px;

            @include breakpoint (max-md){
                font-size: 30px;
            }

            @include breakpoint (max-sm){
                font-size: 26px;
            }
        }

        .thumb {
            img {
                @include imgw;
                border-radius: 10px;
            }
        }

        .offer-list {
            margin-top: 30px;
            margin-bottom: 30px;

            li {
                i {
                    color: $theme-color;
                    margin-right: 5px;
                }

                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        .location {
            @include flex;
            gap: 30px;
            margin-top: 20px;

            li {
                i {
                    color: $theme-color;
                    margin-right: 5px;
                }

                a {
                    color: $text-color;
                }
            }
        }

        .map-items {
            margin-top: 40px;

            iframe {
                width: 100%;
                height: 450px;
            }
        }
    }

    .details-list-area {
        margin-top: -60px;
        margin-left: 30px;
        padding: 30px 40px;
        border-radius: 5px;
        background-color: $white;
        box-shadow: $shadow;

        h3 {
            margin-bottom: 10px;
        }

        @include breakpoint (max-xl){
            margin-left: 0;
            padding: 30px 26px;
        }

        @include breakpoint (max-lg){
            margin-top: 30px;
        }

        .details-list {
            margin-bottom: 30px;

            li {
                @include flex;
                justify-content: space-between;
                padding: 15px 0;

                &:not(:last-child){
                    border-bottom: 1px solid $border-color;
                }

                span {
                    i {
                        color: $theme-color;
                    }
                }
            }
        }

        .theme-btn {
            text-align: center;
            justify-content: center;
        }

        .social-icon {
            justify-content: center;
            gap: 15px;
            margin-top: 30px;

            a {
                color: $text-color;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.event-wrapper-2 {
    .event-image {
        height: 890px;

        @include breakpoint (max-xl){
            height: initial;
        }

        @include breakpoint (max-lg){
            height: 600px;
        }

        @include breakpoint (max-md){
            height: 500px;
        }

        @include breakpoint (max-sm){
          height: 400px;
        }

        img {
            @include imgw;
            object-fit: cover;
        }
    }
    
    .event-right-items {
        padding: 80px;
        background-color: #102F25;
        margin-left: -80px;

        @include breakpoint (max-xl4){
           margin-left: -120px;
           padding: 40px;
        }

        @include breakpoint (max-xl){
            margin-left: 0;
            padding: 30px;
        }

        @include breakpoint (max-lg){
            margin-left: 0;
            padding: 20px;
        }

        .event-list-area {
            overflow: hidden;
            height: 723px;
        }

        .event-list-items {
            background-color: $white;
            border-radius: 7px;
            padding: 40px;
            @include flex;
            justify-content: space-between;
            animation: scrolly 7s linear infinite;

            @include breakpoint (max-xl){
               padding: 30px;
               flex-wrap: wrap;
               gap: 25px;
            }

            &:not(:last-child){
                margin-bottom: 10px;
            }

            .event-content {
                .content {
                    display: flex;
                    gap: 30px;
                    align-items: flex-start;

                    @include breakpoint (max-xxl){
                      flex-wrap: wrap;
                      gap: 20px;
                    }

                    .date {
                        background-color: $theme-color-3;
                        padding: 12px 20px 12px;
                        border-radius: 7px;
                        text-align: center;

                        h2 {
                            font-size: 40px;
                            color: $header-color;
                        }

                        span {
                            font-size: 14px;
                            color: $header-color;
                            font-weight: 500;
                        }
                    }

                    .title-text {
                        max-width: 230px;

                        h4 {
                            line-height: 135%;
                            font-size: 24px;

                            a {

                                &:hover {
                                    color: $theme-color-3;
                                }
                            }
                        }

                        .post-time {
                            @include flex;
                            gap: 24px;
                            border-top: 1px solid rgba(16, 47, 37, 0.10);
                            margin-top: 20px;
                            padding-top: 20px;

                            @include breakpoint (max-xl){
                               flex-wrap: wrap;
                               gap: 20px;
                            }

                            li {
                                i {
                                    margin-right: 7px;
                                }
                            }
                        }
                    }
                }
            }

            .event-thumb {
                max-width: 215px;

                @include breakpoint (max-md){
                    flex-basis: 100%;
                    max-width: 800px;
                }

                img {
                    @include imgw;
                    border-radius: 7px;
                }
            }
        }
    }
}