.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;
			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 45px;

				@include breakpoint (max-xl4){
					margin-inline-end: 35px;
				}

				@include breakpoint (max-xxxl){
					margin-inline-end: 30px;
				}

				@include breakpoint (max-xxl){
					margin-inline-end: 25px;
				}
				
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 18px;
				font-weight: 500;
				color:  $header-color;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include transition;
				font-family: $heading-font;

                .head-icon {
                    margin-left: 0;
                    margin-right: 5px;
                }

				i {
					margin-left: 5px;
				}
	
				&:hover {
					color: $theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 100%;
				inset-inline-start: 0;
				min-width: 250px;
				background: $white;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				box-shadow: 0px 0px 40px 0px rgba(11, 13, 17, 0.08);
				transform: translateY(10px);
				@include transition;
				padding: 30px 30px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;

					&:not(:last-child){
						padding-bottom: 15px;
					}
	
					a {
						position: relative;
						z-index: 11;
						font-size: 18px;
						font-weight: 500;
						color: $header-color;
						padding: 0 0;
						padding-bottom: 0;
						padding-top: 0;
						text-transform: capitalize;
						font-family: $heading-font;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;


						&:hover {
							color: $white !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 113%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 800px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu-items {
					// @include flex;
					// gap: 30px;
					// justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;

						.homemenu-thumb {
							position: relative;
							overflow: hidden;
	
							img {
								width: 100%;
								@include transition;
							}
							
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 16px;
							font-weight: 600;
							
							a {
								color: $header-color;

								&:hover {
									color: $theme-color !important;
								}
							}
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;
					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

        .search-icon {
            color: $header-color;
            font-size: 18px;
        }
	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
        color: $header-color;
	}
}

//>>>>> Header 01 Start <<<<<//
.header-1 {
	.container-fluid {
		padding: 0 70px;

		@include breakpoint (max-xl4){
			padding: 0 20px;
		}

		@include breakpoint (max-xl){
			padding: 0 30px;
		}
	}

	.header-left {
		@include flex;
		gap: 50px;
		max-width: 415px;
		width: 100%;

		@include breakpoint (max-xl4){
			max-width: 360px;
			gap: 25px;
		}

		@include breakpoint (max-xxxl){
			max-width: 340px;
		}

		@include breakpoint (max-xxl){
			max-width: initial;
			width: initial;
		}

		@include breakpoint (max-xl){
			max-width: 415px;
			width: 100%;
		}

		.category-oneadjust{
			max-width: 215px;
			width: 100%;
			position: relative;

			@include breakpoint (max-xxl){
				display: none;
			}

			@include breakpoint (max-xl){
				display: block;
			}

			@include breakpoint (max-sm){
				display: none;
			}

			.dot {
				position: absolute;
				top: 15px;
				left: 15px;
			}

			.nice-select{
				width: unset !important;
				gap: 20px;
				font-size: 16px;
				border-radius: 10px;
				border: 1px solid rgba(0, 91, 255, 0.10);
				background: rgba(0, 91, 255, 0.05);
				padding: 20px 35px 20px 40px;
				line-height: 1;

				&::after{
					width: 8px;
					height: 8px;
					right: 20px;
					top: 52%;
				}

				span {
					font-size: 14px;
					font-weight: 500;
					color: $header-color;
				}

				.selected.focus {
					background-color: $theme-color;
					color: $white;
					font-weight: 500;
				}

				.focus {
					background-color: transparent;
				}

				.option:hover {
					background-color: transparent;
					color: $header-color;
				}

				.list{
					max-height: 15vh;
					background: $bg-color;
					width: 100%;
					padding: 5px 8px;
					overflow-y: scroll;

					@include breakpoint (max-xl){
						right: -60px;
					}

					li {
						color: $header-color;
						font-size: 14px;
						border: none;
					}
				}
			}
		}
	}

    .header-right {
        gap: 40px;

		@include breakpoint (max-xl){
			gap: 20px;
		}

        .header-button {
            @include flex;
            gap: 10px;

			@include breakpoint (max-xl){
				display: none;
			}

            .theme-btn {
                padding: 16px 24px;

                &.style-2 {
                    background: $theme-color-3;
                    border: 1px solid $border-color;
                    align-items: center;
                    gap: 10px;
					color: $header-color;
				

					@include breakpoint (max-xxxl){
						display: none;
					}

                    i {
                        margin-left: 0;
                        margin-right: 0;
                    }

					&:hover {
						color: #fff;
					}
                }
            }
        }
    }

	.search-toggle {
		color: $header-color;
		font-size: 16px;
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 31px;
			height: 18px;
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $header-color;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $header-color;
					left: 16px;
					width: 15px;
				}
				&:nth-child(2) {
					top: 44%;
					background: $header-color;
					width: 30px;
				}
				&:last-child {
					bottom: 0;
					background: $header-color;
					width: 15px;
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	
}

.header-2 {
	background-color: $white;
	box-shadow: 10px 4px 60px 0px rgba(184, 184, 184, 0.25);
	border-top: 1px solid $border-color;

	.header-logo {
		display: none;

		@include breakpoint (max-xl){
			display: block;
		}
	}

	.header-right {
		gap: 20px;

		.icon-items {
			@include flex;
			gap: 10px;
			
			i {
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				border-radius: 50%;
				background-color: #C3F499;
				font-size: 14px;
			}

			h6 {
				font-size: 14px;
				font-weight: 600;
				
				a {
					color: $header-color;
				}
			}
		}

		.header-button {
			.theme-btn {
				padding: 14px 20px;
				@include breakpoint (max-xl){
					display: none;
				}
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 31px;
			height: 18px;
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $header-color;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $header-color;
					left: 16px;
					width: 15px;
				}
				&:nth-child(2) {
					top: 44%;
					background: $header-color;
					width: 30px;
				}
				&:last-child {
					bottom: 0;
					background: $header-color;
					width: 15px;
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.header-top {
	padding: 20px 0;
	@include flex;
	justify-content: space-between;

	@include breakpoint (max-lg){
		display: none !important;
	}

	.top-logo {
		@include breakpoint (max-xl){
			display: none;
		}
	}

	.category-oneadjust{
		@include flex;
		position: relative;

		@include breakpoint (max-lg){
			display: none !important;
		}

		.icon {
			position: absolute;
			top: 15px;
			left: 20px;
			color: $theme-color;
		}

		.nice-select{
			width: 226px !important;
			gap: 20px;
			font-size: 16px;
			border: 1px solid rgba(0, 91, 255, 0.10);
			padding: 16px 20px;
			border-radius: 10px 0px 0px 10px;
			border-right: none !important;
			padding-left: 40px;
			background-color: #F4F9FF;
			position: relative;

			&::before {
				position: absolute;
				top: 23px;
				left: 15px;
				content: "";
				width: 13px;
				height: 13px;
				background-size: cover;
				background-image: url('../../assets/img/logo/dot.png');
			}

			&::after{
				//position: initial;
				margin-top: 0;
				right: 20px;
				top: 37%;
			}

			span {
				font-weight: 500;
				color: $header-color;
			}

			.list{
				max-height: 15vh;
				background: $header-color;
				width: 100%;
				padding: 5px 8px;
				overflow-y: scroll;
				right: 0;

				li {
					color: $white;
					font-size: 14px;
					border: none;
				}
			}
		}

		.search-toggle-box {
			width: 400px;

			// @include breakpoint (max-xxxl){
			// 	width: 450px;
			// }

			@include breakpoint (max-xxl){
				width: 270px;
			}

			@include breakpoint (max-xxl){
				width: 710px;
			}

			@include breakpoint (max-lg){
				width: 250px;
			}

			.input-area {
				position: relative;

				input {
					outline: none;
					border: 1px solid rgba(0, 91, 255, 0.10);
					background: #F4F9FF;
					padding: 14px 20px;
					width: 100%;
					border-radius: 0px 10px 10px 0px;
					color: $text-color;
					font-weight: 500;

					&::placeholder {
						color: $text-color;
						font-weight: 500;
					}
				}

				.cmn-btn {
					position: absolute;
					top: 15px;
					right: 20px;
					font-size: 18px;
					color: $theme-color;
				}
			}
		}
	}
}

.header-section-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: all 0.9s;
	background-color: $white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: $shadow;

	&.header-2 {
		.header-logo {
			display: block;
		}

		.header-main {
			
			.main-menu {
				ul {
					li {
						margin-inline-end: 25px;
					}
				}
			}
		}

		.header-button {
			.theme-btn {
				@include breakpoint (max-xxl){
					display: none;
				}
			}
		}
	}
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	// &::-webkit-scrollbar {
	// 	display: none;
	// }
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__logo {
	a {
		img {
			width: 150px;
		}
	}
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas-title {
		font-size: 32px;
		margin-bottom: 15px;
	}

	.offcanvas__content {
		p {
			color: $header-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.social-icon {
			margin-top: 30px;
			gap: 10px;
			margin-bottom: 30px;

			a {
				width: 52px;
				height: 52px;
				line-height: 52px;
				text-align: center;
				font-size: 16px;
				display: block;
				background: transparent;
				color: $header-color;
				-webkit-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
				text-align: center;
				border: 1px solid $border-color;

				&:hover {
					background-color: $theme-color;
					color: $white;
					border: 1px solid $theme-color;
				}
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			h3 {
				font-size: 28px;
				margin-bottom: 15px;
			}

			.contact-list {
				li {
					font-size: 16px;
					color: $header-color;

					&:not(:last-child){
						margin-bottom: 10px;
					}

					span {
						font-weight: 600;
						color: $header-color;
						font-size: 18px;
					}

					a {
						font-size: 16px;
						color: $header-color;
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				@include flex;
			}
		}

		.offcanvas-button {
			margin-top: 300px;
			@include flex;
			gap: 20px;

			@include breakpoint (max-xxl){
				margin-top: 30px;
			}

            @include breakpoint (max-sm){
				margin-top: 20px;
                margin-bottom: 10px;
			}
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 350px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
	overflow: hidden;

	.page-heading{
		position: relative;
		z-index: 9;
		text-align: center;

		h1 {
			font-size: 60px;
			position: relative;
			z-index: 9;
			line-height: 1.2;

			@include breakpoint(max-lg){
				font-size: 42px;
			}

			@include breakpoint(max-sm){
				font-size: 32px;
			}
		}

		.breadcrumb-items{
			@include flex;
			gap: 10px;
			margin-top: 10px;
			justify-content: center;

			@include breakpoint(max-lg){
				justify-content: center;
			}
			
			li {
				font-size: 16px;
				color: $header-color;
				font-weight: 500;
				text-transform: capitalize;
	
				a {
					color: $header-color;		;
					@include transition;
	
					&:hover{
						color: $theme-color;
					}
				}
	
				i{
					color: $theme-color;

					@include breakpoint (max-sm){
						font-size: 16px;
					}
				}
			}
		}
	}

	.shape-1 {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		img {
			@include imgw;
		}
	}

	.shape-2 {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		img {
			@include imgw;
		}
	}
}

.error-items {
	.error-image {
		margin-bottom: 50px;
		
		img {
			@include imgw;
		}
	}
}

.coming-soon-page-area {
	height: 100vh;
    width: 100%;
    background: $theme-color;
    padding: 200px 0;
    min-height: 500px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.coming-soon-content {
	text-align: center;

	.title {
		color: $white;
		font-size: 100px;

		@include breakpoint (max-lg){
			font-size: 80px;
		}

		@include breakpoint (max-md){
			font-size: 62px;
		}

		@include breakpoint (max-sm){
			font-size: 48px;
		}
	}

	.coming-soon {
		ul {
			@include flex;
			gap: 30px;
			max-width: 650px;
			justify-content: center;
			margin: 30px auto;
			text-align: center;

			@include breakpoint(max-xl){
				flex-wrap: wrap;
			}

			li {

				span {
					font-size: 42px;
					color: $white;
					width: 120px;
					height: 120px;
					line-height: 120px;
					border-radius: 50%;
					border: 3px solid $white;
					display: inline-block;

					@include breakpoint(max-xl){
						width: 80px;
						height: 80px;
						line-height: 80px;
						font-size: 32px;
					}
				}

				p {
					color: $white;
					margin-top: 10px;
					text-transform: uppercase;
				}
			}
		}
	}

	.form{
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		margin-top: 50px;
		overflow: hidden;

		input{
			color: $header-color;
			width: 100%;
			padding: 19px 35% 19px 30px;
			border: none;
			outline: none;
			text-transform: capitalize;
			font-size: 16px;
			border-radius: 5px;
			display: inline-block;

			@include breakpoint (max-sm){
				font-size: 14px;
			}
		}

		.theme-btn {
			position: absolute;
			top: 8px;
			right: 10px;
			padding: 16px 35px;
		}
	}
}