
//page scroll bar add
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 115px;
      height: 115px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

//pagination default
.swiper-dot {

  .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      transition: 0.6s;
      background: $theme-color;
      opacity: 1;
      border-radius: 7px;
      &:not(:last-child){
      margin-right: 15px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      
      transition: 0.6s;
      position: relative;

      &::before{
        position: absolute;
        width: 22px;
        height: 22px;
        line-height: 22px;
        // top: -6px;
        // left: -6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $theme-color;
        content: "";
      }
  }

  &.bg-color-3 {
    .swiper-pagination-bullet {
      background: $theme-color-3;
  
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {

      &::before{
        border: 1px solid  $theme-color-3;
        content: "";
      }
  }
  }
}

.theme-blue-bg {
	background-color: $theme-color;
}

.array-button {
  position: relative;
  z-index: 99;
  @include flex;
  gap: 20px;

  .array-prev {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      background-color: $theme-color;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      @include transition;

      @include breakpoint (max-sm){
        width: 45px;
        height: 45px;
        line-height: 45px;
      }

      &:hover {
        background-color: $white;
        color: $theme-color;
      }
  }

  .array-next {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      background-color: $white;
      color: $theme-color;
      box-shadow: $shadow;
      font-size: 16px;
      font-weight: 600;
      @include transition;

      @include breakpoint (max-sm){
        width: 45px;
        height: 45px;
        line-height: 45px;
      }

      &:hover {
        background-color: $theme-color;
        color: $white;
      }
  }

  &.style-2 {
      .array-prev {
        background-color: $theme-color-2;
        color: $header-color;

        &:hover {
            background-color: $white;
            color: $theme-color-2;
        }
    }

    .array-next {
        color: $theme-color-2;

        &:hover {
            color: $white;
            background-color: $theme-color-2;
        }
    }
  }

  &.style-3 {
    .array-prev {
      background-color: $theme-color-3;
      color: $header-color;

      &:hover {
          background-color: $white;
          color: $theme-color-3;
      }
  }

  .array-next {
      color: $theme-color-3;

      &:hover {
          color: $header-color;
          background-color: $theme-color-3;
      }
  }
}
}

//pagination default

.mt-10 {
  margin-top: 10px;
}

br {
  @include breakpoint(max-sm){
    display: none;
  }
}


/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

//>>>>> Nice Select Css Start <<<<<//
// .nice-select {
//     font-size: 16px;
//     width: unset;
//     outline: none;
//     background-color: transparent;
//     border: 1px solid rgba(255, 255, 255, .2);
//     color: $white;
//     padding: 16px 20px;
//     font-weight: normal;
//     border-radius: 5px;
//     @include breakpoint (max-md){
//       padding: 14px 20px;
//      }

//     @include breakpoint (max-sm){
//         padding: 12px 18px;
//     }

//    @include transition;

//    span {
//         color: #ffffffb3;
//         font-size: 16px;
//         margin-bottom: 0 !important;
//         text-transform: capitalize;
//     }
// }

// .nice-select option {
//   color: #ffffffb3;
// }

// .nice-select .current {
//   margin-right: 12px;
// }

// .nice-select:after {
//   right: 23px;
//   border-bottom: 1px solid $theme-color;
//   border-right: 1px solid $theme-color;
//   width: 10px;
//   height: 10px;
// }

// .nice-select.open .list {
//   background: $bg-color;
//   margin-top: 16px;
//   width: 100%;
//   text-transform: capitalize;
//   color: $text-color;
// }

// .nice-select .option.selected.focus {
//   background: $theme-color;
//   outline: none;
//   color: $white;
//   text-transform: capitalize;
//   font-size: 16px;
// }

// .nice-select .option {
//   border: none;
// }

// .nice-select .option:hover {
// background: transparent;
// }

// Nice Select
.nice-select {
    background-color: transparent;
    border: transparent;
    float: initial;
    overflow: initial;
    height: initial;
    padding: 0;
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    width: 100%;
    border: none;

    &:focus, &:hover {
      border-color: transparent;
    }
    &::after {
      height: 10px;
      width: 10px;
      right: 15px;
      top: initial;
      border-color: $border-color;
      border-bottom: 2px solid $header-color;
      border-right: 2px solid $header-color;  
    }

	.list {
		width: initial;
		background-color: $theme-color;
		box-shadow: none;
		overflow: initial;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
		width: 100%;
		top: 100%;
		padding: 0;
		max-height: 50vh;
		overflow-x: auto;
		&::-webkit-scrollbar{
			width: 2px;
			opacity: 1;
			display: block;
		}
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-thumb{
			background: $header-color;
		}
	}
	.option {
		background-color: transparent;
		font-size: 16px;
		line-height: 150%;
		padding: 4px 5px;
		min-height: initial;
		font-weight: 500;
		&:hover,
		&:focus,
		&.selected.focus {
			background-color: transparent;
		}
	}
	.current{
		font-weight: 500;
    color: $header-color;
	}
}
//>>>>> Nice Select Css End <<<<<//


.head-color {
  color: $header-color;
}

.footer-bg {
  background-color: #031F42;
}

.background-black {
    background-color: $black !important;
}

.bg-white {
    background-color: $white !important;
}

.section-wrap {
    @include breakpoint (max-xl){
      flex-wrap: wrap;
    }

    @include breakpoint (max-md){
      gap: 20px;
    }
}

.mt-35 {
  margin-top: -35px;
}

.mt-10 {
  margin-top: -10px;
}

.box-shadow {
  box-shadow: $shadow;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-minus-30 {
  margin-bottom: -30px;
}

.blue-bg {
  background-color: $theme-color;
}

.theme-green-bg {
  background-color: #102F25;
}

.theme-yellow-bg {
  background-color: $theme-color-3;

  .cmn-textslide {
    color: $header-color !important;
  }
}