.hero-1 {
    padding: 80px 0 100px;

    .hero-content {
        @include breakpoint (max-md){
           text-align: center;
        }

        h1 {
            font-size: 90px;

            @include breakpoint (max-xl){
                font-size: 60px;
            }
            
            @include breakpoint (max-md){
                font-size: 45px;
            }

            @include breakpoint (max-sm){
                font-size: 35px;
            }

            span {
                color: $theme-color;
                position: relative;

                img {
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 90%;

                    @include breakpoint (max-lg){
                       display: none;
                    }
                }
            }
        }

        p {
            font-size: 20px;
            margin-top: 40px;

            @include breakpoint (max-md){
                font-size: 18px;
                margin-top: 30px;
            }

            @include breakpoint (max-sm){
                font-size: 16px;
                margin-top: 20px;
            }
        }

        .hero-button {
            @include flex;
            margin-top: 40px;
            gap: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            @include breakpoint (max-md){
               justify-content: center;
            }

            .button-text {
                
                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: $header-color;
                }

                .video-btn {
                    width:55px;
                    height: 55px;
                    line-height: 55px;
                    display: inline-block;
                    background-color: transparent;
                    border: 1px solid $header-color;
                    border-radius: 50%;
                    text-align: center;
                    color: $header-color;
                }
            }

        }
    }

    .hero-image-items {
        .hero-image {
            position: relative;

            @include breakpoint (max-xl){
                img {
                     @include imgw;
                }
             }

             @include breakpoint (max-lg){
                img {
                    width: initial;
                    height: initial;
                }
            }

            @include breakpoint (max-md){
                img {
                     @include imgw;
                }
            }

            .hero-shape {
                position: absolute;
                top: 56%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: -1;

                @include breakpoint (max-xxl){
                    img {
                        width: initial;
                        height: initial;
                    }
                }

                @include breakpoint (max-sm){
                   display: none;
                }
            }

            .counter-box {
                background-color: $white;
                z-index: 9;
                position: absolute;
                top: 5px;
                right: -105px;
                padding: 30px 40px;
                border-radius: 10px;
                box-shadow: (10px 4px 60px rgba(168, 168, 168, 0.25));

                @include breakpoint (max-xxl){
                  right: initial;
                  left: 0;
                }

                @include breakpoint (max-lg){
                    right: 0;
                    left: initial;
                }

                @include breakpoint (max-md){
                    display: none;
                }
    
                p {
                    font-size: 18px;
                }
    
                h2 {
                    color: $theme-color;
                    font-size: 50px;
                }
            }
        }
    }
}

.hero-2 {
    background-color: #031F42;
    padding: 130px 0 0;
    position: relative;

    .shape-left {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .shape-right {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 99;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .dot-shape {
        position: absolute;
        left: 110px;
        top: 50%;
    }

    .vector-shape {
        position: absolute;
        right: 110px;
        top: 30%;
    }

    .hero-content {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        z-index: 9;


        span {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -0.44px;
            display: inline-block;
            position: relative;
            color: $theme-color-3;
            padding-bottom: 10px;
            width: 270px;

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
                width: 100%;
                height: 5px;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../../assets/img/bar/yellow-bar-3.png);
                animation: width 1.5s linear 3 !important;
                animation-fill-mode: both;
                background-position: center;
            }

            @include breakpoint (max-md){
                font-size: 20px;
            }

            @include breakpoint (max-sm){
                font-size: 18px;
            }

            img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-top: 5px;
                animation: width 3.5s linear infinite;
            }
        }

        h1 {
            color: $white;
            margin-bottom: 30px;
            margin-top: 20px;
            font-size: 90px;

            @include breakpoint (max-xxl){
                font-size: 80px;
            }

            @include breakpoint (max-xl){
                font-size: 70px;
            }

            @include breakpoint (max-lg){
                font-size: 54px;
            }

            @include breakpoint (max-md){
                font-size: 44px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        h3 {
            color: $white;
            font-size: 27px;
            font-weight: 400;

            @include breakpoint (max-md){
                font-size: 22px;
            }

            @include breakpoint (max-sm){
                font-size: 20px;
            }
        }

        .hero-button {
            margin-top: 50px;
        }
    }

    .hero-image {
        max-width: 1070px;
        margin: 130px auto 0;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
            height: 630px;

            img {
                object-fit: cover;
            }
        }

        @include breakpoint (max-md){
            height: 520px;
        }

        img {
            @include imgw;
            border-radius: 7px 7px 0px 0px;
        }

        .counter-box {
            background-color: $white;
            z-index: 9;
            position: absolute;
            bottom: 130px;
            left: -230px;
            padding: 35px 50px;
            border-radius: 10px;

            @include breakpoint (max-xl4){
                bottom: 10px;
                left: 10px;
            }

            @include breakpoint (max-lg){
                padding: 30px 50px;
                border-radius: 0;
            }

            p {
                font-size: 18px;
            }

            h2 {
                color: $theme-color;
                font-size: 65px;

                @include breakpoint (max-md){
                    font-size: 40px;
                }
            }
        }

        .rating-box {
            padding: 50px 40px;
            background-color: $white;
            border-radius: 10px;
            position: absolute;
            top: -100px;
            right: -140px;
            z-index: 9;
            @include flex;
            gap: 50px;

            @include breakpoint (max-xl4){
                right: 0px;
            }

            @include breakpoint (max-md){
                padding: 20px 30px;
                display: grid;
                gap: 10px;
            }


            h2 {
                font-size: 65px;

                @include breakpoint (max-md){
                   font-size: 40px;
                }
            }

            p {
                font-size: 18px;
            }

            .star {
                color: #FFAE5D;
            }

            img {
                padding-left: 50px;
                width: initial;
                border-left: 1px solid $border-color;
            }
        }

        .circle-img {
            position: absolute;
            top: -55px;
            left: -55px;
            z-index: -1;
        }
    }
}

.hero-3 {
    position: relative;

    .array-button{
        position: absolute;
        top: 50%;
        right: 55px;
        display: grid;
        z-index: 9;
        gap: 20px;
        transform: translate(-50%, -50%);
  
        @include breakpoint (max-xl){
         top: 50%;
        }

        @include breakpoint (max-lg){
            display: none;
        }

        .arry-prev {
            background-color: $theme-color-3;
            color: $header-color;
        }
  
    }
  
    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
    
        &::before {
            @include before;
            background-color: rgb(2, 0, 12);
            opacity: 0.749;
        }
    }

    .hero-content {
        position: relative;
        padding-top: 180px;
        padding-bottom: 200px;


        @include breakpoint (max-sm){
            text-align: center;
            margin: 0 auto;
        }

        h5 {
            color: $white;
            letter-spacing: 1.5px;
            margin-bottom: 25px;

            @include breakpoint (max-sm){
               margin-bottom: 15px;
            }
        }
        
        h1 {
            font-size: 80px;
            line-height: 110%;
 
            @include breakpoint (max-xxl){
                font-size: 74px;
            }

            @include breakpoint (max-xl){
                font-size: 72px;
            }

            @include breakpoint (max-lg){
                font-size: 62px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

            @include breakpoint (max-sm){
                font-size: 36px;
                line-height: 1.3;
            }
        }

        p {
            color: $white;
            margin-top: 20px;
        }
 
        .hero-button {
            margin-top: 50px;
            @include flex;
            gap: 20px;

            @include breakpoint (max-sm){
                margin-top: 20px;
                justify-content: center;
            }

            .theme-btn {
                background-color: $theme-color-3;
                color: $header-color;

                &:hover {
                    color: $white;
                }
            }

            .video-btn {
                background-color: $theme-color-3;
                color: $white;
                display: inline-block;
                font-size: 16px;
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                text-align: center;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    right: 0;
                    bottom: 0;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 1px solid $theme-color-3;
                    content: "";
                    transform: translate(-50%,-50%);
                }
            }

            .button-text {
                span {
                    font-size: 16px;
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }
}