.news-card-items {
    margin-top: 30px;

    .news-image {
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;

        img {
            @include imgw;
            display: block;
            border-radius: 10px 10px 0px 0px;
        }
        
        .news-layer-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            transition: 0.5s;

            .news-layer-image {
                width: 25%;
                height: 100%;
                transition: 0.5s;
                background-size: cover;
                border-radius: 10px;

                &:nth-child(1){
                    background-position: 0;
                    transition-delay: 0;
                }

                &:nth-child(2){
                    background-position: 33.33%;
                    transition-delay: 0.1s;
                }

                &:nth-child(3){
                    background-position: 66.66%;
                    transition-delay: 0.2s;
                }

                &:nth-child(4){
                    background-position: 100%;
                    transition-delay: 0.3s;
                }
            }
        }
    }

    .news-content {
        padding: 25px 30px;
        background-color: $white;
        box-shadow: $shadow;

        ul {
            @include flex;
            gap: 30px;
            margin-bottom: 15px;

            li {
                i {
                    color: $theme-color;
                    margin-right: 5px;
                }
            }
        }

        h3 {
            margin-bottom: 10px;
            
            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    &:hover {
        .news-image {
            .news-layer-wrapper {
                .news-layer-image {
                    transform: translateY(-100%);
                }
            }
        }
    }

    &.style-2 {
        padding-bottom: 50px;

        @include breakpoint (max-xxl){
            br {
                display: none;
            }
        }

        .news-image {
            .post-date {
                width: 70px;
                height: 70px;
                text-align: center;
                background-color: $theme-color-3;
                position: absolute;
                right: 10px;
                z-index: 9;
                top: 10px;
    
                h3 {
                    color: $white;
                    line-height: initial;
                    padding-top: 17px;
                }
    
                span {
                    font-size: 18px;
                    color: $white;
                    margin-top: -10px;
                    display: inline-block;
                }
            }
        }
        .news-content {
            ul {
                li {
                    i {
                        color: $theme-color-3;
                    }
                }
            }
    
            h3 {
                
                a {
                    &:hover {
                        color: $theme-color-3;
                    }
                }
            }
        }
    }
}

.news-box-items {
    margin-top: 30px;
    background-color: $white;
    box-shadow: $shadow;

    .news-image {
        position: relative;

        img {
            @include imgw;
            border-radius: 10px 10px 0 0;
        }

        .post-date {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $theme-color-2;
            padding: 12px 20px;

            h3 {
                color: $white;
            }

            p {
                color: $white;
            }
        }
    }

    .news-content {
        padding: 30px 40px;

        @include breakpoint (max-sm){
            padding: 30px 25px;
        }

        ul {
            @include flex;
            gap: 20px;
            margin-bottom: 15px;
            
            li {
                i {
                    margin-right: 5px;
                }
            }
        }

        h3 {
            margin-bottom: 10px;

            a {
                &:hover {
                    color: $theme-color-2;
                }
            }
        }
    }
}

.news-box-items-2 {
    margin-top: 30px;
    background-color: $white;
    box-shadow: $shadow;
    @include flex;
    gap: 15px;
    border-radius: 10px;

    @include breakpoint (max-xxs){
        flex-wrap: wrap;
        gap: 0;
    }

    .news-img {
        max-width: 300px;
        height: 337px;
        border-radius: 10px 0 0 10px;
        flex-basis: 50%;
        position: relative;

        @include breakpoint (max-sm){
            flex-basis: 100%;
        }

        @include breakpoint (max-xxs){
           max-width: 420px;
        }

        .post-date {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $theme-color-2;
            padding: 12px 20px;

            h3 {
                color: $white;
            }

            p {
                color: $white;
            }
        }
    }

    .news-content {
        padding: 30px 20px;

        @include breakpoint (max-sm){
            padding: 30px 10px;
        }

        @include breakpoint (max-xxs){
            padding: 30px 25px;
        }

        ul {
            @include flex;
            gap: 20px;
            margin-bottom: 15px;
            flex-wrap: wrap;

            @include breakpoint (max-sm){
                gap: 10px;
            }
            
            li {
                i {
                    margin-right: 5px;
                }
            }
        }

        h3 {
            margin-bottom: 10px;

            @include breakpoint (max-sm){
                font-size: 20px;
            }

            a {
                &:hover {
                    color: $theme-color-2;
                }
            }
        }
    }

    &.style-2 {
        .news-img {
            max-width: 300px;
            height: 337px;
            border-radius: 10px 0 0 10px;
            flex-basis: 70%;
            position: relative;
        }
    }
}

.news-section-3 {
    margin-bottom: -50px;
}

.news-left-items {
    margin-top: 30px;
    border: 1px solid rgba(9, 34, 75, 0.10);
    border-radius: 7px;
    background-color: $white;
    position: relative;
    @include transition;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 1px solid $theme-color;
        border-left: 1px solid $theme-color;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        transform: initial;
    }

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 1px solid $theme-color;
        border-right: 1px solid $theme-color;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }

    .news-thumb {
        padding: 10px;
        padding-bottom: 0;
        position: relative;
        z-index: 9;

        .post-box {
            font-size: 14px;
            font-weight: 600;
            background-color: $theme-color;
            padding: 3px 14px;
            border-radius: 7px;
            color: $white;
            position: absolute;
            top: 22px;
            left: 22px;

            &:hover {
                background-color: $header-color;
            }
        }

        img {
            @include imgw;
            border-radius: 7px;
        }
    }

    .news-content {
        padding: 25px 40px;
        position: relative;
        z-index: 9;

        .post-cat {
            @include flex;
            gap: 20px;
            margin-bottom: 10px;

            li {
                i {
                    margin-right: 5px;
                }
            }
        }

        h3 {
            line-height: 146%;
            font-size: 26px;

            a {
                background-image: linear-gradient($theme-color,$theme-color);
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
               // display: inline-block;
                @include transition;

                &:hover {
                    background-size: 100% 2px;
                    color: $theme-color;
                }
            }
        }

        .link-btn {
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            display: inline-block;
            color: $header-color;
             margin-top: 15px;

            i {
                margin-left: 5px;
            }

            &:hover {
                color: $theme-color;
            }
        }
    }

    &:hover {

        &::before {
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
            border-radius: 7px;
        }

        &::after {
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
            transform: initial;
            border-radius: 7px;
            transform-origin: initial;
        }
    }
}

.news-right-items {
    margin-top: 30px;
    border: 1px solid rgba(9, 34, 75, 0.10);
    border-radius: 7px;

    .news-right-box {
        @include flex;
        gap: 30px;
        padding: 11px 10px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
        }

        &:not(:last-child){
            border-bottom: 1px solid rgba(9, 34, 75, 0.10);
        }

        .thumb {
            max-width: 280px;
            position: relative;

            @include breakpoint (max-xl){
                max-width: 800px;
                flex-basis: 100%;
            }

            .post-box {
                font-size: 14px;
                font-weight: 600;
                background-color: $theme-color;
                padding: 2px 14px;
                border-radius: 7px;
                color: $white;
                position: absolute;
                top: 10px;
                left: 10px;
    
                &:hover {
                    background-color: $header-color;
                }
            }

            img {
                @include imgw;
                border-radius: 7px;
            }
        }

        .content {
            max-width: 270px;
            
            @include breakpoint (max-xl){
                max-width: initial;
                padding: 25px;
                padding-top: 0;
            }

            .post-cat {
                @include flex;
                gap: 20px;
                margin-bottom: 10px;
    
                li {
                    font-size: 14px;

                    i {
                        margin-right: 5px;
                    }
                }
            }
    
            h5 {
                line-height: 139%;
                font-size: 22px;
    
                a {
                    background-image: linear-gradient($theme-color,$theme-color);
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                   // display: inline-block;
                    @include transition;
    
                    &:hover {
                        background-size: 100% 2px;
                        color: $theme-color;
                    }
                }
            }
    
            .link-btn {
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;
                display: inline-block;
                color: $header-color;
                margin-top: 10px;
    
                i {
                    margin-left: 5px;
                }
    
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}


.news-box-items-22 {
    margin-top: 30px;
    
    .news-image {
        overflow: hidden;
        border-radius: 7px;

        img {
            @include imgw;
            border-radius: 7px;
            @include transition;
        }
    }

    .news-content {
        margin-top: 15px;

        .post-date {
            @include flex;
            gap: 30px;
            margin-bottom: 10px;

            li {
                font-size: 14px;

                i {
                    margin-right: 5px;
                }
            }
        }

        h3 {
            line-height: 145%;
            margin-bottom: 20px;

            a {
                background-image: linear-gradient($header-color,$header-color);
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
               // display: inline-block;
                @include transition;

                &:hover {
                    background-size: 100% 2px;
                }
            }
        }

        .theme-btn {
            padding: 14px 25px;
            font-size: 14px;
            color: $text-color;
            font-weight: 600;
            background-color: transparent;
            border: 1px solid rgba(16, 47, 37, 0.10);
            border-radius: 10px;

            &::before,&::after {
                background-color: $theme-color-3;
            }

            &:hover {
                border: 1px solid transparent;
                color: $white;
            }
        }
    }

    &:hover {
        .news-image {
            img {
                transform: scale(1.1);
            }
        }
    }
}