
:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #005BFF;
    --theme-2: #00E2C5;
    --theme-3: #FFD25D;
    --header: #031F42;
    --base: #2EB97E;
    --text: #808080;
    --text2: #ffffffcc;
    --border: #E6E6E6;
    --border2: #373737;
    --ratting: #F8BC26;
    --bg: #F4F9FF;
    --bg2: #0D0D0D;
    ---box-shadow: 10px 4px 60px rgba(190, 190, 190, 0.25);

}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme-2);
$theme-color-3: var(--theme-3);
$text-color: var(--text);
$text-color-2: var(--text2);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border2);
$ratting-color: var(--ratting);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
$color-gradient-1: var(--color-gradient-1);
$color-gradient-2: var(---color-gradient-2);
$shadow: var(---box-shadow);
